# Abeeha Zahid 
## Section A
## FA25-BBD-007

In [2]:
person_info= {"Name":"Abeeha","Age":18,"City":"Lahore","Hobbies":"Sleeping"}
print (person_info)

{'Name': 'Abeeha', 'Age': 18, 'City': 'Lahore', 'Hobbies': 'Sleeping'}

In [3]:
fruit_inventory= {"Apple":100,"Banana":50,"Mango":90,"Peach":40}
print (fruit_inventory)

{'Apple': 100, 'Banana': 50, 'Mango': 90, 'Peach': 40}

In [7]:
std_grade= {"Math":78,"English":77,"Computer":76,"Urdu":45,"Science":60}
print (std_grade)
avg_grade= sum(std_grade.values()) / len(std_grade)
print (avg_grade)

{'Math': 78, 'English': 77, 'Computer': 76, 'Urdu': 45, 'Science': 60}
67.2

In [24]:
product= {"Name":"Tumbler","Quantity":10,"Price":2000,
          "Name":"Cap","Quantity":4,"Price":50}
print (product)
product["Name3"]="Straw"
print (product)
product ["Quantity"]=5
print (product)
total_value=0
for prod in product:
    total_value=product["Quantity"]*product["Price"]
print ("Total inventory value is=",total_value)
for name,info in product.items():
    if product["Quantity"]<5:
        print ("Only {Quantity} {Name} left")

{'Name': 'Cap', 'Quantity': 4, 'Price': 50}
{'Name': 'Cap', 'Quantity': 4, 'Price': 50, 'Name3': 'Straw'}
{'Name': 'Cap', 'Quantity': 5, 'Price': 50, 'Name3': 'Straw'}
Total inventory value is= 250

In [42]:
grades= {"Eman": [68,88],
           "Areeba":[78,65],
            "Nida": [90,79]}
for student, marks in grades.items():
    avg= sum(marks)/len(marks)
    print (f"{student.title()} average grade is {avg}")

Eman average grade is 78.0
Areeba average grade is 71.5
Nida average grade is 84.5